.dboard{
    width: 1500px;
    height: 400px;
    background-color: white;
    margin: 0;
    margin-top: 10px !important;
    margin-left: 10px !important;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.dboard >h1{
    margin: 10px 0 0 30px;
}